<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car24.az</title>
    @Styles.Render("~/Content/css/news.css")
    @Scripts.Render("~/Content/js/news.js")
    @Styles.Render("~/Content/css/autoclub.css")
    @Scripts.Render("~/Content/js/autoclub.js")
    @Styles.Render("~/Content/css/gallery.css")
    @Scripts.Render("~/Content/js/gallery.js")
    @Styles.Render("~/Content/css/catalog.css")
    @Scripts.Render("~/Content/js/catalog.js")
    @Styles.Render("~/Content/css/contacts.css")
    @Scripts.Render("~/Content/js/contacts.js")
    @Styles.Render("~/Content/css/carpage.css")
    @Scripts.Render("~/Content/js/carpage.js")
    @Styles.Render("~/Content/css/carsearch.css")
    @Scripts.Render("~/Content/js/carsearch.js")
    @Styles.Render("~/Content/css/newpage.css")
    @Scripts.Render("~/Content/js/newpage.js")
    @Styles.Render("~/Content/css/aroundsearchpage.css")
    @Scripts.Render("~/Content/js/aroundsearchpage.js")
    @Styles.Render("~/Content/css/bmwclub.css")
    @Scripts.Render("~/Content/js/bmwclub.js")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
    <div class="main ">
        <!-- top of the navigation bar -->
        <div class="navBarSection ">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("Index", "Home")'>
                    <img src="~/Content/image/logo.png" />
                </a>
                <span>
                    <input type="text" class="form-control" placeholder="Axtarış">
                </span>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto"></ul>
                    <span class="navbar-text">
                        <ul class="login-and-languages">
                            <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-github-square" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a href='@Url.Action("Index", "LoginPage")'><i class="fa fa-user-circle-o" aria-hidden="true"></i> Giriş</a>
                            <a href='@Url.Action("Index", "RegisterPage")'><i class="fa fa-user-circle-o" aria-hidden="true"></i> Qeydiyyat</a>
                            <a href="#"> Sifrəni unutmusuz?</a>
                            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Dil seçimi</a>
                        </ul>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link " href='@Url.Action("Index", "Home")'>ƏSAS SƏHİFƏ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "News")'>XƏBƏRLƏR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href='@Url.Action("Index", "AutoClub")'>AVTO KLUBLAR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href='@Url.Action("Index", "Gallery")'>GALEREYA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href='@Url.Action("Index", "Catalog")'>KATALOQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href='@Url.Action("Index", "Contacts")'>KONTAKTLAR</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class=" body-content">
        @RenderBody()
        <hr />
        <div class="footer fullwidth">
            <!--Footer Links-->
            <div class="backDiv fullwidth">
                <div class="container width ">
                    <div class="row col-md-12">
                        <!--First column-->
                        <div class="col-md-7 col-lg-3">
                            <img src="~/Content/image/logo.png" style="width:100%;" />
                        </div>
                        <!--/.First column-->
                        <!--Second column-->
                        <div class="col-md-2 col-lg-2 navbar-link">

                        </div>
                        <!--/.Second column-->
                        <!--Third column-->
                        <div class="col-md-3 col-lg-3">
                            <!--Info-->
                            <p><i class="fa fa-home mr-3"></i> Azərbaycan Bakı</p>
                            <p><i class="fa fa-envelope mr-3"></i>car360@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
