@model car24project.Models.avtoAdvt

@{
    ViewBag.Title = "Elanı əlavə eltmək";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal " style="width:70%;margin:0px auto;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <h5>Qiymət</h5>
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Şəkillər</h5>

                @Html.EditorFor(model => model.photo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Marka</h5>
                @Html.DropDownList("markaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.markaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Model</h5>
                @Html.DropDownList("modelID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.modelID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Ban növü</h5>
                @Html.DropDownList("bodyType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bodyType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Rəng</h5>
                @Html.DropDownList("colorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.colorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Mühərrikin həcmi</h5>
                @Html.DropDownList("engineVolumeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.engineVolumeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Mühərrikin gücü</h5>
                @Html.DropDownList("motorPowerID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.motorPowerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Yanacaq növü</h5>
                @Html.DropDownList("fuelTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fuelTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Buraxılış ili</h5>
                @Html.DropDownList("graduationYearID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.graduationYearID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Yürüş</h5>
                @Html.EditorFor(model => model.mileage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mileage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Ötürücü</h5>
                @Html.DropDownList("driveUintID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.driveUintID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Sürətlər qutusu</h5>
                @Html.DropDownList("transmissionID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.transmissionID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Əlavə məlumat</h5>
                @Html.EditorFor(model => model.additionalInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additionalInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Əlaqə telefonu</h5>
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h5>Adınız</h5>
                @Html.EditorFor(model => model.contactsName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contactsName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.publicDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.publicDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.publicDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Əsas səhifə", "Index", "Home")
            </div>
        </div>
        <div>
           
        </div>
    </div>
}


