@model car24project.Models.messages

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Cingo/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>messages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.messageTxet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messageTxet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
